.top {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.scrollpanel .p-scrollpanel p {
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
 
}

.scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-b);
}

.scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-bar {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

.scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
    background-color: #007ad9;
}

.scrollpanel .p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-b);
    border-bottom: 10px solid var(--surface-b);
}

.scrollpanel .p-scrollpanel.custombar2 .p-scrollpanel-bar {
    background-color: var(--surface-d);
    border-radius: 0;
    opacity: 1;
    transition: background-color .2s;
}

.scrollpanel .p-col-12 {
    padding: 2rem;
}
                
.toggle-button {
  font-size: 10px;
  font-weight: 500;
  background: black;
  color: white;
  border: 0 none;
  border-radius: 4px;
}