<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>
  <b>Hello <span th:text="${name}"/> ,</b>
  <br/>
  Your instructor <span th:text="${username}"/> has given feedback for your assignment
  with title <span th:text="${title}"/> on
  <span th:text="${#dates.format(date)}"/>.
<p>
  Regards, <br />
  <em>The OET Team</em>
</p>
</body>
</html>